# Rust
/target
**/target
**/*.rs.bk
Cargo.lock
# ignore proto package, plan to use chain-sdk structs (once they go to v0.14.0)
proto/*
# OS
.DS_Store
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/
*.iml
vendor
provider-validate
tests/fixtures/**